
.small-element {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

.small-element-group {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
}

.element {
    border: 4px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    margin: 4px;
    padding: 4px;
    width: 120px;
    height: 120px;
}

.element * {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    width: 100%;
}

.element .atomic-number {
    text-align: left;
    width: 100%;
}

.element .symbol {
    font-size: 2.6rem;
    font-weight: bold;
}

.element .name {
    font-size: 0.9rem;
}

.element .atomic-mass {
    font-size: 0.9rem;
}

.polaroid {
    width: min-content;
    background-color: aliceblue;
    padding: 8px;
    margin: 12px 0;
    color: black;
    border: 1px solid black;
}

.polaroid img {
    width: 120px;
    aspect-ratio: 3/4;
    object-fit: cover;
    background: linear-gradient(45deg, #eeeeee, #cccccc);
}

.unselected .polaroid {
    display: none;
}

.polaroid figcaption {
    font-family: "Bad Script", cursive;
    text-align: center;
    margin: 4px 0px;
    font-size: 0.7rem;
}

.flag {
    height: 40px;
    border: 2px solid black;
}

.element-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
}

.element-list .small-element {
    margin-left: 4px;
    transform: rotate(-2deg);
}